<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inscription aux ateliers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inscription aux ateliers</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input type="text" name="nom" [(ngModel)]="user.nom" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input type="text" name="prenom" [(ngModel)]="user.prenom" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="user.email" required></ion-input>
      </ion-item>
    
      <ion-button expand="full" type="submit" >Valider mon inscription</ion-button>
    </form>
    


  </ion-list>
</ion-content>
