<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Bouton retour sans texte -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Nos Hackatons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-content">
    <!-- Boucle pour chaque événement -->
    <ion-item *ngFor="let item of ListeEvent" lines="none" class="event-item">
      <ion-card class="event-card">

        <!-- Image en fonction du thème -->
        <ion-img src="./assets/icon/OIP.jpg" class="event-image"></ion-img>

        <ion-card-header>
          <!-- Titre du hackathon avec le thème et la ville -->
          <ion-card-title class="event-title">{{ item.theme_hack }}</ion-card-title>
          <p class="event-location">{{ item.ville_hack }}</p>
          <ion-button class="custom-button" (click)="voirAtelier(item)">
            <ion-icon slot="start" name="list-outline"></ion-icon>
            Les ateliers
          </ion-button>
        </ion-card-header>
 
        <!-- Contenu de la carte -->
        <ion-card-content>
          <p class="event-date">Début : {{ item.date_debut_hack | date: 'dd/MM/yyyy' }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </div>
</ion-content>



<style>
 .page-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les cartes au milieu */
}

.custom-button {
  --background: #6c04ce;
  --background-activated: #005bb5;
  --background-focused: #005bb5;
  --background-hover: #005bb5;
  --color: #fff;
  --border-radius: 12px;
  font-size: 14px;
  font-weight: 450;
  padding: 8px 18px;
  transition: transform 0.2s ease-in-out;
}
.event-item {
  margin-bottom: 12px;
  width: 100%; /* Prend la largeur maximale du conteneur */
  max-width: 400px; /* Largeur maximale de chaque carte */
}

.event-card {
  width: 100%; /* Occupe toute la largeur du conteneur event-item */
  max-width: 100%; /* S'assure que la carte ne dépasse pas sa largeur */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.event-card:hover {
  transform: translateY(-2px);
}

.event-image {
  height: 120px; /* Taille réduite pour mobile */
  width: 100%;
  object-fit: cover;
}

.event-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-top: 4px;
}

.event-location {
  color: #666;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 4px;
}

.event-date {
  color: #444;
  font-size: 0.85rem;
  margin-top: 4px;
  text-align: center;
}

ion-card-content {
  padding: 6px 12px;
}

</style>