<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Bouton retour sans texte -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hackaton" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Nos Hackatons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-content">
    <ion-item *ngFor="let item of listeAtelier" lines="none" class="event-item" (click)="PageInscription(item)">
      <ion-card class="event-card">

  
       

        <ion-card-header>
          <ion-card-title class="event-title">{{ item.nom_salle }}</ion-card-title>
            <ion-icon slot="start" name="list-outline"></ion-icon>
            Hackathon
        </ion-card-header>
 
        <ion-card-content>
          <p class="event-date">Début : {{ item.date_event | date: 'dd/MM/yyyy' }}</p>
          <p class="event-id">{{ item.duree_event }} heures</p>
         
        </ion-card-content>
      </ion-card>
    </ion-item>
  </div>
</ion-content>



<style>
  .page-content {
    padding: 16px;
  }

  .event-item {
    margin-bottom: 16px;
  }

  .event-card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
  }

  .event-card:hover {
    transform: translateY(-4px);
  }

  .event-image {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }

  .event-title {
    font-weight: bold;
    font-size: 1.4rem;
    color: #333;
    text-align: center;
  }

  .event-location {
    color: #666;
    text-align: center;
    font-size: 1rem;
  }

  .event-date,
  .event-id {
    color: #444;
    font-size: 0.9rem;
    margin-top: 8px;
    text-align: center;
  }

  ion-card-content {
    padding: 8px 16px;
  }
</style>